*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.flights{
    margin: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;
}

.single-flight{
    background-color: #76AAFF;
    display: flex;
    flex-direction: row;
    border-radius: 0%;
    min-height: 100px;
    border-radius: 30px;

}


.box{
    flex-shrink: 1;
    flex-basis: 0;
}

.flight-number{
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flight-number h1{
    font-size: 80px;
    text-align: center;
    width: fit-content;
}

.flight-number h3{
    width: fit-content;
}

.from-to-div{
    background-color: #1D3A6F;
    color: white;
    flex-grow: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.from-to-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.details-div{
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.detail h3{
    text-align: center;

}

.detail h1{
    font-size: 50px;

}

.detail img{
    height: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .single-flight{
        flex-direction: column;
    }
  }

@media only screen and (max-width:615px) {
    /* For mobile phones: */
    .details-div{
        flex-direction: column;
    }

    .detail{
        
    padding: 0;
    border-bottom: 1px solid black;
    }
    .detail:nth-child(3){
        border: none;
    }

  }